
*.root
*.pdf
*.log*
.*

fill_2815_lumiCalc2.py_V04-02-09_lumibylsXing.csv
fill_2836_lumiCalc2.py_V04-02-09_lumibylsXing.csv

CMSZeroBiasEvents*

DS-merged/merge

DS4/background_study
!DS4/background_study/make_distributions

DS4/fiducial_cut_study
!DS4/fiducial_cut_study/run_multiple

binning/make_generators
binning/plots
binning/simu

dip_fit/fit

efficiency/test_high_thx

dgn_difference/high_t/evaluate_stat_significance

models/sample_models

notes/released_notes

systematics/tests/numerical_integration
systematics/tests/unfolding_test
systematics/tilt/simu

stat_unc_test/fit_low_t_range
stat_unc_test/fit_test
stat_unc_test/fixed-lumi-fraction/DS4/
stat_unc_test/fixed-lumi-fraction/analyze

simulation_geant4/analysis
simulation_geant4/dump_hits
simulation_geant4/event_plots/N,nF:RT:th_y_high/
simulation_geant4/event_plots/N,nF:RT:th_y_low/
simulation_geant4/event_plots/nN,F:RT/
simulation_geant4/event_plots/nN,nF:LB/
simulation_geant4/event_plots/nN,nF:RT/
simulation_geant4/plots
simulation_geant4/simulations/
simulation_geant4/summary.ods
